
@{
    ViewBag.Title = "Admin Panel";
}
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="panel panel-default">
    <div class="panel-heading">
        Dashboard
    </div>
    <div class="panel-body">
   
    </div>
</div>

